@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#root {
  width: 100vw;
  padding: 2rem 1.5rem;
}
